


.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    text-align: center;
    background: rgba( 255, 255, 255, .8 )
                url('./assets/svg-loading.svg')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.modal {
    display: block;
}

.hidden-modal {
  display: none;
}
/* Tab styles */

/* Will center the blocks displayed when the tabs is clicked.  */
.tab-childs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  border-style: solid;
  border-width: 1px;
}

/* Changing background color for active tabs */

.nav-tabs .nav-link.active{
  background-color: #d69293;
  color:white;
}

ul li.nav-item  {
  cursor: pointer;
}
